.begin
    .begin__container
        .begin__container__inner
            .begin__btn
                button Начать работу
            .begin__text 
                .begin__text__line Интересно? 
                .begin__text__line Узнайте подробности и начинайте зарабатывать!