.cards 
    .cards__inner
        .cards__item
            .cards__item__img
                svg.cards__item__img1
                    use(xlink:href="./assets/img/Sprites/sprite_main.svg#work")
            .cards__item__title Удобно
            .cards__item__text Работайте в любое время в любом месте
        .cards__item
            .cards__item__img
                svg.cards__item__img2
                    use(xlink:href="./assets/img/Sprites/sprite_main.svg#rocket")
            .cards__item__title Быстро
            .cards__item__text Бесплатное онлайн обучение
        .cards__item
            .cards__item__img
                svg.cards__item__img3
                    use(xlink:href="./assets/img/Sprites/sprite_main.svg#mobile")
            .cards__item__title Доступно
            .cards__item__text Все необходимые инструменты доступны в одном приложении
        .cards__item
            .cards__item__img
                svg.cards__item__img4
                    use(xlink:href="./assets/img/Sprites/sprite_main.svg#surface")
            .cards__item__title Выгодно
            .cards__item__text Получайте моментальные выплаты до 35% от продаж!