.easyMain#easyMain
    .easyMain__container
        .easyMain__content__title Это проще, чем вы думаете
        
        .easyMain__content__section1
            .easyMain__section1__items
                .easyMain__section1__item
                    .easyMain__section1__item__img
                        img(src="assets/img/EasyMain/med.svg", alt="")
                    .easyMain__section1__item__title Авто
                    .easyMain__section1__item__text Каско и осаго для ваших друзей и близких 
                .easyMain__section1__item
                    .easyMain__section1__item__img
                        img(src="assets/img/EasyMain/home.svg", alt="")
                    .easyMain__section1__item__title Жилье
                    .easyMain__section1__item__text Сосед снизу будет жить спокойнее 
                .easyMain__section1__item
                    .easyMain__section1__item__img
                        img(src="assets/img/EasyMain/med.svg", alt="")
                    .easyMain__section1__item__title Здоровье
                    .easyMain__section1__item__text Избавьте родных от лишних походов к врачу
                .easyMain__section1__item
                    .easyMain__section1__item__img
                        img(src="assets/img/EasyMain/aero.svg", alt="")
                    .easyMain__section1__item__title Путешествие
                    .easyMain__section1__item__text Ваша поездка за рубеж под надежной защитой