.footerMain#footerMain
    .footerMain__container 
        .footerMain__content
            .footerMain__content__text ПАО СК «Росгосстрах», лицензии Банка России на осуществление страхования ОС № 0001 – 02 выдана 23.12.2019, СИ № 0001, СЛ № 0001, ОС № 0001 – 03, ОС № 0001 – 04, ОС № 0001 – 05 и на осуществление перестрахования ПС № 0001, выданы 06.06.2018; бессрочные.