.join
    .join__inner
        .join__btn
            button Присоединиться
        .join__content 
            .join__content__item
                .join__content__item__number 8
                .join__content__item__text продуктов 
            .join__content__line
            .join__content__item
                .join__content__item__number 25 000
                .join__content__item__text агентов
            .join__content__line
            .join__content__item
                .join__content__item__number 1 058
                .join__content__item__text городов 

