.indexMain
    .indexMain__screen
        .indexMain__screen__container
            .indexMain__screen__logo
                svg
                   use(xlink:href="./assets/img/Sprites/sprite_main.svg#logo")
            .indexMain__screen__content
                .indexMain__screen__content__title Ваш страховой <br> онлайн бизнес
                .indexMain__screen__content__text Агентология — это доступная каждому IT-платформа <br> для удалённой работы.
                .indexMain__screen__content__btn
                    button
                        .indexMain__screen__content__btn__arrow
                            svg 
                                use(xlink:href="./assets/img/Sprites/sprite_main.svg#arrow1")
                        a(href="#top")
                            span Узнать больше
    
    .indexMain__about
        .indexMain__about__container
            .indexMain__about__container__inner
                a.indexMain__about__content(name="top")
                    .indexMain__about__content__title Об Агентологии
                    .indexMain__about__content__text 
                        p Агентология – это будущее страхования! IT-платформа для всех, кто хочет заработать, предлагая страховые продукты. Теперь всё онлайн: регистрация на платформе,  обучение,  необходимая поддержка, наши продукты и рассчет своего комиссионного вознаграждения. Сотрудничество с нами не потребует присутствия в офисе. 
                        p Работайте из дома – с телефона, планшета или компьютера. Для комфортной работы с платформой созданы все условия.
                    .indexMain__about__content__people
                        .indexMain__about__content__people__img
                            img(src="assets/img/Main/small.png", alt="")
                        .indexMain__about__content__people__info
                            .indexMain__about__content__people__info__name Геннадий Гальперин,
                            .indexMain__about__content__people__info__position генеральный директор ПАО «РОСГОССТРАХ»
                .indexMain__about__img
                    img(src="assets/img/Main/big.png", alt="")

            include ./cards