.questionsMain#questionsMain
    .questionsMain__container
        .questionsMain__content__title Вопросы и ответы
        
        .questionsMain__content__section1
            .questionsMain__section1__items
                .questionsMain__section1__item
                    .questionsMain__section1__number 01
                    .questionsMain__section1__main
                        .questionsMain__section1__inner(class="js-tab-trigger-questionsMain" data-tab="1")
                            .questionsMain__section1__title Я работаю в другой компании официально, могут ли возникнуть какие-либо сложности?
                        .questionsMain__section1__text(class="js-tab-content-questionsMain" data-tab="1") Определенно нет! Заработок в Агентологии никак не мешает Вашей основной работе. Вы самостоятельно планируете свою деятельность.
                    .questionsMain__section1__line
                .questionsMain__section1__item
                    .questionsMain__section1__number 02
                    .questionsMain__section1__main
                        .questionsMain__section1__inner(class="js-tab-trigger-questionsMain" data-tab="2")
                            .questionsMain__section1__title Каким образом происходит оформление? Все законно? 
                        .questionsMain__section1__text(class="js-tab-content-questionsMain" data-tab="2") Да, конечно! Вы подписываете электронный договор-оферту и становитесь полноценным пользователем Агентологии. Все налоговые отчисления также предусмотрены.
                    .questionsMain__section1__line
                .questionsMain__section1__item
                    .questionsMain__section1__number 03
                    .questionsMain__section1__main
                        .questionsMain__section1__inner(class="js-tab-trigger-questionsMain" data-tab="3")
                            .questionsMain__section1__title Я зарегистрировался в Агентологии, но мне доступен только один продукт, что делать? 
                        .questionsMain__section1__text(class="js-tab-content-questionsMain" data-tab="3") Все продукты станут доступны после прохождения онлайн-курсов в разделе "Обучение"
                    .questionsMain__section1__line
                .questionsMain__section1__item
                    .questionsMain__section1__number 04
                    .questionsMain__section1__main
                        .questionsMain__section1__inner(class="js-tab-trigger-questionsMain" data-tab="4")
                            .questionsMain__section1__title Я оформил продукт, как получить свой заработок?
                        .questionsMain__section1__text(class="js-tab-content-questionsMain" data-tab="4") Для выплаты вознаграждения в Агентологии Вам необходимо прикрепить документы в разделе "Отдел кадров", "Документы".
                    .questionsMain__section1__line
                .questionsMain__section1__item
                    .questionsMain__section1__number 05
                    .questionsMain__section1__main
                        .questionsMain__section1__inner(class="js-tab-trigger-questionsMain" data-tab="5")
                            .questionsMain__section1__title Мои знакомые тоже хотят начать работать в Агентологии, могу я пригласить их? 
                        .questionsMain__section1__text(class="js-tab-content-questionsMain" data-tab="5") Данная возможность предусмотрена и даже более - приглашая работать своих знакомых в Агентологию, вы сможете получать определенный % от совершенных ими продаж. Приглашение возможно отправить через раздел "Отдел кадров" или передать промокод для регистрации.