.scopeMain#scopeMain
    .scopeMain__container
        .scopeMain__content__title Расширьте свои возможности! 
        .scopeMain__content__text Агентология - передовая платформа для заработкав страховой сфере, не имеющая границ! 


        .scopeMain__content__inputs
            form(action="https://portal2.agentology.ru/api/agentology/" method="post")
                .form__field
                    input(type="email" placeholder="Ваш E-mail" required).scopeMain__content__input
                    span.form__error E-mail введен не верно
                button(type="submit" ).scopeMain__content__btn Зарегистрироваться

        a.scopeMain__content__second__text У меня есть промокод
        input(type="text" placeholder="Ваш Промокод").scopeMain__input