.scopeMain#scopeMain
    .scopeMain__container
        .scopeMain__content__title Расширьте свои возможности! 
        .scopeMain__content__text Агентология - передовая платформа для заработкав страховой сфере, не имеющая границ! 


        .scopeMain__content__inputs
            input(type="text" placeholder="Ваш E-mail").scopeMain__content__input
            button.scopeMain__content__btn Зарегистрироваться

        a(href="#").scopeMain__content__second__text У меня есть промокод