.sliderMain#sliderMain
    .sliderMain__container
        .sliderMain__container__inner
            .sliderMain__container__arrows
                svg.sliderMain__arrow__left
                    use(xlink:href="./assets/img/main__sprite.svg#arrow")
                svg.sliderMain__arrow__right
                    use(xlink:href="./assets/img/main__sprite.svg#arrow")

        
        .sliderMain__container__content
            .sliderMain__content__prev О нас говорят
            .sliderMain__content__title Отзывы агентов


        .sliderMain__container__sections
            .sliderMain__container__section1
                .sliderMain__section1__main
                    .sliderMain__section1__main__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis adipisci rerum repellat ab modi nihil, harum recusandae iure labore quibusdam molestiae, earum ea assumenda doloremque cupiditate, nulla magnam. Placeat, aperiam!
                    .sliderMain__section1__main__author Анна Васильева, <a href="#">Агент</a>
                .sliderMain__section1__img
                    img(src="assets/img/SliderMain/test.svg", alt="")
                    .sliderMain__section1__img__author Анна Васильева, <a href="#">Агент</a>
        
            .sliderMain__container__section1
                .sliderMain__section1__main
                    .sliderMain__section1__main__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis adipisci rerum repellat ab modi nihil, harum recusandae iure labore quibusdam molestiae, earum ea assumenda doloremque cupiditate, nulla magnam. Placeat, aperiam!
                    .sliderMain__section1__main__author Анна Васильева, <a href="#">Агент</a>
                .sliderMain__section1__img
                    img(src="assets/img/SliderMain/test.svg", alt="")
                    .sliderMain__section1__img__author Анна Васильева, <a href="#">Агент</a>
        
            .sliderMain__container__section1
                .sliderMain__section1__main
                    .sliderMain__section1__main__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis adipisci rerum repellat ab modi nihil, harum recusandae iure labore quibusdam molestiae, earum ea assumenda doloremque cupiditate, nulla magnam. Placeat, aperiam!
                    .sliderMain__section1__main__author Анна Васильева, <a href="#">Агент</a>
                .sliderMain__section1__img
                    img(src="assets/img/SliderMain/test.svg", alt="")
                    .sliderMain__section1__img__author Анна Васильева, <a href="#">Агент</a>
        
            .sliderMain__container__section1
                .sliderMain__section1__main
                    .sliderMain__section1__main__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis adipisci rerum repellat ab modi nihil, harum recusandae iure labore quibusdam molestiae, earum ea assumenda doloremque cupiditate, nulla magnam. Placeat, aperiam!
                    .sliderMain__section1__main__author Анна Васильева, <a href="#">Агент</a>
                .sliderMain__section1__img
                    img(src="assets/img/SliderMain/test.svg", alt="")
                    .sliderMain__section1__img__author Анна Васильева, <a href="#">Агент</a>
        