.steps
    include ./try
    .steps__main 
        .steps__main__container 
            .steps__main__inner 
                .steps__main__img
                    img(src="assets/img/Main/ipad.png", alt="")
                .steps__main__content
                    .steps__main__content__title Всего 3 простых шага:
                    ul.steps__main__content__list
                        li.steps__main__content__list__item
                            .steps__main__content__list__item__title Зарегистрируйтесь
                            .steps__main__content__list__item__text Пройдите регистрацию на сайте или установите приложение Агентологии из Google Play или App Store на свой планшет 
                            .steps__main__content__list__item__number 01
                        li.steps__main__content__list__item
                            .steps__main__content__list__item__title Пройдите обучение
                            .steps__main__content__list__item__text Пройдите краткое бесплатное онлайн обучение по страховым продуктам. 
                            .steps__main__content__list__item__number 02
                        li.steps__main__content__list__item
                            .steps__main__content__list__item__title Зарабатывайте
                            .steps__main__content__list__item__text Начните оформлять продажи, не выходя из дома. Не забудьте предложить регистрацию знакомым, это так же увиличит Ваш заработок! 
                            .steps__main__content__list__item__number 03
    include ./begin
