.try
    .try__container
        .try__container__inner
            .try__btn
                button Попробовать
            .try__text 
                .try__text__line Интересно? 
                .try__text__line Узнайте подробности и начинайте зарабатывать!


