// цвета
// палитра
$shiraz-color: #ac0339;
$iron-color: #d5d7db;
$red-color: #ff0000;
$tuna-color: #3c3042;
$bleachedCedar-color: #302333;
$white-color: #ffffff;
$alabaster-color: #fafafa;
$grey-color: #cacfd7;
$gradient1-color: linear-gradient(97.69deg, #b71c4e 1.53%, #7c032a 99.17%);
$gradient2-color: linear-gradient(97.74deg, #b71c4e 1.53%, #7c032a 99.17%);
$gradient3-color: linear-gradient(93.11deg, #b71c4e 1.53%, #7c032a 99.17%);
$light-gradient-color: linear-gradient(180deg, #e5e6e8 0%, rgba(213, 215, 219, 0) 100%);

// фон
$main-bg-color: $iron-color; // основной серый цвет
$try-bg-color: $gradient1-color; // цвет первой вставки
$begin-bg-color: $gradient2-color; // цвет второй вставки
$join-bg-color: $shiraz-color; // цвет третьей вставки
$light-bg-color: $light-gradient-color; // светло серый цвет

// заголовки
$h1-color: $tuna-color;
$block-title-color: $bleachedCedar-color;
$small-title-color: $bleachedCedar-color;

// цвет текста
$main-text-color: $tuna-color; // главный цвет текста
$light-text-color: $white-color; // белый текст
$bright-text-color: $shiraz-color; // цвет выделенного текста

//кнопки
// темная кнопка
$btnBgDark-color: $shiraz-color;
$btnTextDark-color: $white-color;
$btnBgHDark-color: $white-color;
$btnTextHDark-color: $shiraz-color;
//светлая кнопка
$btnBgLight-color: $white-color;
$btnTextLight-color: $shiraz-color;

// карточки
$card-bg-color: $white-color;

// шрифты
// подключенные
$RobotoRegular-ff: "RobotoRegular";
$RobotoBold-ff: "RobotoBold";
$RobotoMedium-ff: "RobotoMedium";
$GothamProRegular-ff: "GothamPro";
$GothamProBold-ff: "GothamPro-Bold";
$GothamProMedium-ff: "GothamPro-Medium";
$GothamProItalic-ff: "GothamPro-Italic";

// заголовки
$h1-ff: $GothamProBold-ff;
$block-title-ff: $GothamProMedium-ff;

// разделы с кнопками
$try-text-ff: $GothamProBold-ff;

//карточки
$card-title-ff: $GothamProBold-ff;

// подзаголовок
$h1-text-ff: $RobotoMedium-ff;

// текст
$main-text-ff: $RobotoRegular-ff;

// кнопки
$btn-ff: $GothamProBold-ff;
