include ../mixins/icons
doctype html
head
  include ../meta/common/head
body
  .wrapper
    include ./index/main
    include ./index/steps
    include ./index/sliderMain
    include ./index/easyMain
    include ./index/questionsMain
    include ./index/scopeMain
    include ./index/footerMain

  include ../meta/common/scripts
