include ../mixins/icons
doctype html
head
  include ../meta/common/head
body
  .wrapper
    include ./index/main
    include ./index/sliderMain
    include ./index/easyMain
    include ./index/questionsMain
    include ./common/footer

  include ../meta/common/scripts
