.join {
	@include page-base(60px, 60px);
	padding-left: 60px;
	padding-right: 60px;
	width: 1195px;
	background: $join-bg-color;
	box-shadow: 0px 20px 40px rgba(172, 3, 57, 0.25);
	border-radius: 20px;

	position: absolute;
	top: -100px;
	left: 50%;
	z-index: 10;
	transform: translate3d(-50%, 0, 0);

	@media screen and (max-width: 1220px) {
		width: 96%;
	}

	@include notebook {
		padding-left: 40px;
		padding-right: 40px;
	}

	@include laptop {
		top: -240px;
	}

	@include phone {
		top: -540px;
	}

	.join__inner {
		display: flex;
		align-items: center;

		@include laptop {
			flex-wrap: wrap-reverse;
		}

		.join__btn {
			margin-right: 97px;

			@include notebook {
				margin-right: 66px;
			}

			@include laptop {
				margin-right: 0;
				margin-top: 63px;
				width: 100%;
				text-align: center;
			}

			button {
				@include btn-light;
			}
		}

		.join__content {
			display: flex;
			align-items: center;

			@include laptop {
				width: 100%;
				justify-content: center;
			}

			@include phone {
				display: block;
			}

			.join__content__item {
				width: 143px;

				@include phone {
					width: 100%;
					text-align: center;
					margin-bottom: 42px;
				}

				&:nth-child(3) {
					width: 230px;

					@include notebook {
						width: 210px;
					}

					@include phone {
						width: 100%;
						text-align: center;
					}
				}

				&:nth-child(5) {
					width: 237px;

					@include notebook {
						width: 200px;
					}

					@include laptop {
						width: 160px;
					}

					@include phone {
						width: 100%;
						text-align: center;
						margin-bottom: 0;
					}
				}

				// @include notebook {
				// 	&:nth-child(5) {
				// 		width: 200px;
				// 	}
				// }

				.join__content__item__number {
					font-family: $block-title-ff;
					font-size: 50px;
					line-height: 60px;
					color: $light-text-color;

					@include tablet {
						font-size: 40px;
					}

					@include phone {
						font-size: 60px;
					}
				}

				.join__content__item__text {
					margin-top: 4px;
					font-family: $block-title-ff;
					font-size: 18px;
					line-height: 24px;
					color: $light-text-color;

					@include phone {
						margin-top: 16px;
					}
				}
			}

			.join__content__line {
				@include vertical-dashed;
				margin-right: 50px;

				@include notebook {
					margin-right: 40px;
				}

				@include phone {
					display: none;
				}
			}
		}
	}
}
